body{
	background-color: white;
	box-sizing: border-box;
	font-family: Candara;
}
#title{
	background-color: #23395d;
	font-size: 60px;
	text-align: center;
	color: beige;
}
#container{
	background-color: #23395d;
	min-width: 600px;
	max-width: 1200px;
	min-height: 1200px;
	color: white;
	margin-left: auto;
	margin-right: auto;

}
#navi{
	width: 1200px;
	font-size: 25px;

}
#kwoty{
	margin-top: 20px;
	border: 7px solid black;
	width: 25%;
	min-height: 600px;
	float: left;
	margin-left: 4%;
	font-size: 34px;
	color: black;

}
#zadanie{
	background-color:#274360;
	border: 7px solid black;
	width: 60%;
	min-height:300px;
	float: left;
	margin-top: 320px;
	margin-left: 4%;

}
#kwota1,#kwota2,#kwota3,#kwota4,#kwota5
,#kwota7,#kwota8,#kwota9,#kwota10,#kwota12{
	padding: 3px;
}
#kwota6,#kwota11{
	padding: 3px;
	color: goldenrod;
}
#pytanie{
	width: 550px;
	color: black;
	font-size: 25px;
	min-height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	background-color: beige;
	border: 5px solid darkblue;
	border-radius: 20px;
}

#odp1, #odp2, #odp3, #odp4{
	float: left;
	padding: 15px;
	width: 250px;
	min-height: 50px;
	background-color: crimson;
	margin-left: 43px;
	margin-top: 15px;
	border: 5px solid darkblue;
	border-radius: 50px;
}
#kola_ratunkowe{
	float: left;
}