body{
		background-color: white;
	
}
#container{
		background-color: #2619DF;
		width: 1200px;
		min-height:1000px;
		color: white;
		margin-left: auto;
		margin-right: auto;
}
#kwoty{
	background-color:red;
	width:300px;
	min-height: 700px;
	float: left;
	margin-left:100px;
	
}
#zadanie{
		background-color:green;
		width:700px;
		min-height:200px;
		float: left;
		margin-top:500px;
		padding-left:50;
	
}