body{
	background-color: white;
	box-sizing: border-box;
	font-family: Candara;
}

#title{
	background-color: #23395d;
	font-size: 70px;
	text-align: center;
	color: beige;
}
#container{
	background-color: #23395d;
	min-width: 600px;
	max-width: 1200px;
	min-height: 1200px;
	color: white;
	margin-left: auto;
	margin-right: auto;

}
nav{
	width: 100%;
	padding: 20px 0px;
	text-align: center;
}
nav ul{
	background-color: #ACADA8;
	width: 97%;

}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 20px 10%;

}
nav.sticky{
	position: fixed;
	top: 0;
}
#kwoty{
	margin-top: 20px;
	border: 7px solid black;
	width: 25%;
	min-height: 600px;
	float: left;
	margin-left: 4%;
	font-size: 34px;
	color: black;

}
#zadanie{
	background-color:#274360;
	border: 7px solid black;
	width: 60%;
	min-height:300px;
	float: left;
	margin-top: 320px;
	margin-left: 4%;

}
#kwota1,#kwota2,#kwota3,#kwota4,#kwota5
,#kwota7,#kwota8,#kwota9,#kwota10,#kwota12{
	padding: 3px;
}
#kwota6,#kwota11{
	padding: 3px;
	color: goldenrod;
}
#pytanie{
	width: 80%;
	color: black;
	font-size: 25px;
	min-height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	background-color: beige;
	border: 5px solid darkblue;
	border-radius: 20px;
}

.odp{
	float: left;
	width: 40%;
	min-height: 70px;
	background-color: crimson;
	margin-left: 5%;
	margin-top: 15px;
	border: 5px solid darkblue;
	border-radius: 50px;
	filter: brightness(70%);
	cursor: pointer;
}
.odp:hover
{
	border: 5px solid #e9b64a;
	filter: brightness(100%);
}
@media all and (max-width:950px) {
	.odp {
		float:none;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#zadanie{
		margin-top: 170px;
	}
	#kwoty{
		font-size: 30px;
	}
}
#kola_ratunkowe{
	float: left;
}