<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/registration.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- MDB -->
    <title>PrzejedźSię</title>
</head>
<body>
    <div class="wrapper">

        <div class="content">
            <div class="rejestracjaBox">
                <p style="color: aliceblue;">Formularz Rejestracji</p>
                {{#if message}}
                        <div class="response">
                            <h2>{{message}}</h2>
                        </div>
                        {{/if}}
                <div class="box-helper">
                    <form action="/authorization/register" method = "POST">
                    <div class="form-group">
                        <br>
                        <label for="login">login</label><br>
                        <input type="text" class="form-control" id="login" name="login" required minlength="3" maxlength="45">
                    </div>

                    <div class="form-group">
                        <label for="password">Hasło</label><br>
                        <input type="password" class="form-control" id="password" name="password" required minlength="8" maxlength="32">
                    </div>
                    <div class="form-group">
                        <label for="repeatedPassword">Potwierdź hasło</label><br>
                        <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword" required minlength="8" maxlength="32">
                    </div>
                    <button type="submit" id="btn-register" class="btn">Zatwierdź</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>